@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin glass {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 30px;
}

@mixin bottom {
  background: linear-gradient(0deg, rgba(20, 16, 18, .2) 0%, rgba(254, 254, 254, .1) 100%);
}

@mixin top {
  background: linear-gradient(180deg, rgba(20, 16, 18, .2) 0%, rgba(254, 254, 254, .1) 100%);
}

@mixin left {
  background: linear-gradient(280deg, rgba(20, 16, 18, .2) 0%, rgba(254, 254, 254, .1) 100%);
}

@mixin right {
  background: linear-gradient(90deg, rgba(20, 16, 18, .2) 0%, rgba(254, 254, 254, .1) 100%);
}

@mixin top-left {
  background: linear-gradient(316deg, rgba(20, 16, 18, .2) 0%, rgba(254, 254, 254, .1) 100%);
}

@mixin top-right {
  background: linear-gradient(40deg, rgba(20, 16, 18, .2) 0%, rgba(254, 254, 254, .1) 100%);
}

@mixin bottom-left {
  background: linear-gradient(205deg, rgba(20, 16, 18, .2) 0%, rgba(254, 254, 254, .1) 100%);
}

@mixin bottom-right {
  background: linear-gradient(135deg, rgba(20, 16, 18, .2) 0%, rgba(254, 254, 254, .1) 100%);
}

@mixin darkglass {
  background: #ee8f0b18;
  box-shadow: 0 4px 30px rgba(124, 104, 104, 0.295);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(1px);
  border: #ee8f0b2f solid 1px;
  border-radius: 30px;
}

@mixin fadetitle {
  font-size: var(--title-fontsize);
  height: calc(var(--title-fontsize) / 1.1);
  z-index: -1;
  padding-left: var(--inside-margin);
}

$orange : #ee8f0b88;
$brown: #563f49;
$white: #fefefe;
$dark: #141012;

:root {
  --marge: 50px;
  --img-size: 300px;
  --inside-margin: calc(var(--marge) / 2);
  --wrapper: 15%;
  --bento-margin: var(--marge) var(--wrapper);
  --title-fontsize: 44px;
  --subtitle-fontsize: 25px;
  --body-fontsize: 20px;
}

* {
  color: $white;
  box-sizing: border-box;
}

@media (max-width: 1350px) {
  :root {

    --title-fontsize: 50px;
    --wrapper: 10em;
    --body-fontsize: 16px;
  }
}

@media (max-width: 900px) {
  :root {
    --title-fontsize: 34px;
    --img-size: 250px;
    --wrapper: 2em;
    --bento-margin: var(--marge) var(--wrapper);
    --marge: 40px;
    --inside-margin: calc(var(--marge) / 2);
  }
}