@use 'base' as v;
@use 'comps';


h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "DM sans", serif;
  background: v.$dark;
  position: relative;
  font-size: 16px;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
  pointer-events: none;
}



.cta {
  margin-left: 20px;
  margin-right: 5px;
  text-decoration: none;
  font-size: 20px;
  color: v.$brown;
  padding: 8px 10px;
  transition: .3s ease-in-out;
  box-shadow:
    0.3em 0.3em 0 0 v.$orange,
    inset 0.3em 0.3em 0 0 v.$orange;

  &:hover,
  &:focus {
    box-shadow:
      0 0 0 0 v.$orange,
      inset 5em 3.5em 0 0 v.$orange;
    color: v.$white;
  }
}