:root {
  --marge: 50px;
  --img-size: 300px;
}

* {
  color: #fefefe;
}

.acceuil-banner {
  padding: 10px var(--marge);
  margin: 2rem 0;
  font-size: 30px;
  background-image: url(../img/viaduc.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 20rem;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--marge);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(124, 104, 104, 0.295);
  border: rgba(238, 143, 11, 0.1843137255) solid 1px;
}
.acceuil-banner h1 {
  font-weight: 700;
  font-size: 3em;
  text-shadow: 1px 1px 0 rgba(20, 16, 18, 0.431372549), 1px -1px 0 rgba(20, 16, 18, 0.431372549), -1px 1px 0 rgba(20, 16, 18, 0.431372549), -1px -1px 0 rgba(20, 16, 18, 0.431372549), 1px 0px 0 rgba(20, 16, 18, 0.431372549), 0px 1px 0 rgba(20, 16, 18, 0.431372549), -1px 0px 0 rgba(20, 16, 18, 0.431372549), 0px -1px 0 rgba(20, 16, 18, 0.431372549);
}

.pres-anim {
  display: flex;
}
.pres-anim__dropping-text {
  display: inline-block;
  margin-left: 15px;
}
.pres-anim__dropping-text > span {
  font-size: 0px;
  opacity: 0;
  margin-left: -30px;
  position: absolute;
  text-shadow: 1px 1px 0 rgba(238, 143, 11, 0.5333333333), 1px -1px 0 rgba(238, 143, 11, 0.5333333333), -1px 1px 0 rgba(238, 143, 11, 0.5333333333), -1px -1px 0 rgba(238, 143, 11, 0.5333333333), 1px 0px 0 rgba(238, 143, 11, 0.5333333333), 0px 1px 0 rgba(238, 143, 11, 0.5333333333), -1px 0px 0 rgba(238, 143, 11, 0.5333333333), 0px -1px 0 rgba(238, 143, 11, 0.5333333333);
}
.pres-anim__dropping-text > span:nth-child(1) {
  animation: roll 10s linear infinite 0s;
}
.pres-anim__dropping-text > span:nth-child(2) {
  animation: roll 10s linear infinite 2s;
}
.pres-anim__dropping-text > span:nth-child(3) {
  animation: roll 10s linear infinite 4s;
}
.pres-anim__dropping-text > span:nth-child(4) {
  animation: roll 10s linear infinite 6s;
}
.pres-anim__dropping-text > span:nth-child(5) {
  animation: roll 10s linear infinite 8s;
}

@keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }
  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }
  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 100px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}
.logo-slider {
  color: #563f49;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.123);
  box-shadow: 0 4px 30px rgba(124, 104, 104, 0.295);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);
  border: rgba(238, 143, 11, 0.1843137255) solid 1px;
  height: var(--marge);
  margin: var(--marge) 0;
}

.geo {
  height: fit-content;
  margin: -3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--marge);
  position: relative;
}
.geo h3 {
  min-width: 400px;
  transform: translate(0, 200%);
  color: #563f49;
}
.geo span {
  position: absolute;
  color: #563f49;
  border-radius: 10px;
  border: rgba(238, 143, 11, 0.5333333333) solid 1px;
  padding: 5px 10px;
  opacity: 0;
  animation: appear 0.3s ease-in forwards;
  animation-delay: var(--delay);
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
svg {
  height: fit-content;
}

#drawing-line {
  transform: translate(10%, 28%);
  stroke: #563f49;
  stroke-dasharray: 3100;
  stroke-dashoffset: 3100;
  animation: dash 2s linear forwards;
}

#france {
  stroke: #563f49;
  stroke-dasharray: 3500;
  stroke-dashoffset: 3500;
  animation: dash 2s linear forwards 2s;
  position: relative;
}

#regions {
  z-index: -1;
  fill: rgba(238, 143, 11, 0.5333333333);
  position: absolute;
  bottom: calc(var(--marge));
  right: var(--marge);
  width: fit-content;
  height: 39%;
  animation: appear linear forwards 0.5s 4s;
  opacity: 0;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  margin: var(--marge);
  position: sticky;
  top: var(--marge);
  z-index: 10;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--marge);
  background: rgba(238, 143, 11, 0.0941176471);
  box-shadow: 0 4px 30px rgba(124, 104, 104, 0.295);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(1px);
  border: rgba(238, 143, 11, 0.1843137255) solid 1px;
  border-radius: 30px;
  position: sticky;
  top: var(--marge);
  z-index: 10;
  padding: 0 var(--marge);
}
header nav a {
  color: #fefefe;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
header nav a:after {
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: rgba(238, 143, 11, 0.5333333333);
  transition: 0.3s ease;
  width: 0;
}
header nav a:hover:after {
  width: 100%;
  left: 0;
}
header nav .underline:after {
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  background: rgba(238, 143, 11, 0.5333333333);
  width: 100%;
}

.hide {
  clip: rect(0 0 0 0);
  position: absolute;
}

.activite {
  border-radius: 20px;
  margin: var(--marge) 25%;
  padding: var(--marge);
  display: flex;
  justify-content: space-between;
  height: var(--img-size);
  gap: calc(var(--img-size) / 4);
  color: #563f49;
  background: rgba(255, 255, 255, 0.123);
  box-shadow: 0 4px 30px rgba(124, 104, 104, 0.295);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);
  border: rgba(238, 143, 11, 0.1843137255) solid 1px;
}
.activite__text {
  max-width: calc(var(--img-size) * 1.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.activite__img-container {
  position: relative;
  width: var(--img-size);
}
.activite__img-container div {
  position: absolute;
  height: var(--img-size);
  aspect-ratio: 1/1;
}
.activite__img-container div img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.activite .label {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  bottom: calc(var(--marge) - 10px);
  left: calc(var(--img-size) + var(--marge));
}
.activite .label img {
  width: var(--marge);
}
.activite .line {
  border-top: solid 1px rgba(238, 143, 11, 0.5333333333);
  width: 80%;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "DM sans", serif;
  background: #141012;
  position: relative;
  font-size: 16px;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
  pointer-events: none;
}

.cta {
  margin-left: 20px;
  margin-right: 5px;
  text-decoration: none;
  font-size: 20px;
  color: #563f49;
  padding: 8px 10px;
  transition: 0.3s ease-in-out;
  box-shadow: 0.3em 0.3em 0 0 rgba(238, 143, 11, 0.5333333333), inset 0.3em 0.3em 0 0 rgba(238, 143, 11, 0.5333333333);
}
.cta:hover, .cta:focus {
  box-shadow: 0 0 0 0 rgba(238, 143, 11, 0.5333333333), inset 5em 3.5em 0 0 rgba(238, 143, 11, 0.5333333333);
  color: #fefefe;
}

/*# sourceMappingURL=style.css.map */
