:root {
  --marge: 50px;
  --img-size: 300px;
}

.acceuil-banner {
  padding: 10px var(--marge);
  margin: 2rem 0;
  font-size: 30px;
  background-image: url(../img/viaduc.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 20rem;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.acceuil-banner h1 {
  font-weight: 700;
  font-size: 3em;
}

.pres-anim {
  display: flex;
}
.pres-anim__dropping-text {
  display: inline-block;
  margin-left: 15px;
}
.pres-anim__dropping-text > span {
  font-size: 0px;
  opacity: 0;
  margin-left: -30px;
  position: absolute;
}
.pres-anim__dropping-text > span:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}
.pres-anim__dropping-text > span:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}
.pres-anim__dropping-text > span:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}
.pres-anim__dropping-text > span:nth-child(4) {
  animation: roll 5s linear infinite 3s;
}
.pres-anim__dropping-text > span:nth-child(5) {
  animation: roll 5s linear infinite 4s;
}

@keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }
  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }
  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 100px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}
header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(124, 104, 104, 0.295);
  padding: 10px var(--marge);
  position: sticky;
  top: 0;
  z-index: 10;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--marge);
}
header nav a {
  font-family: "DM Serif Text", serif;
  color: #563f49;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
header nav a:after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgba(238, 143, 11, 0.5333333333);
  transition: 0.3s ease;
  width: 0;
}
header nav a:hover:after {
  width: 100%;
  left: 0;
}
header nav .underline:after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: rgba(238, 143, 11, 0.5333333333);
  width: 100%;
}

.hide {
  clip: rect(0 0 0 0);
  position: absolute;
}

.activite {
  margin: var(--marge) 25%;
  padding: var(--marge);
  display: flex;
  justify-content: space-between;
  height: var(--img-size);
  gap: calc(var(--img-size) / 4);
  color: #563f49;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(124, 104, 104, 0.295);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
.activite__text {
  max-width: calc(var(--img-size) * 1.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.activite__img-container {
  position: relative;
  width: var(--img-size);
}
.activite__img-container div {
  position: absolute;
  height: var(--img-size);
  aspect-ratio: 1/1;
}
.activite__img-container div img {
  width: 100%;
  height: 100%;
}
.activite .label {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  bottom: calc(var(--marge) - 10px);
  left: calc(var(--img-size) + var(--marge));
}
.activite .label img {
  width: var(--marge);
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "DM Serif Text", serif;
  position: relative;
  font-size: 17px;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
  pointer-events: none;
}

.cta {
  margin-left: 20px;
  margin-right: 5px;
  text-decoration: none;
  font-size: 20px;
  color: #563f49;
  padding: 8px 10px;
  transition: 0.3s ease-in-out;
  box-shadow: 0.3em 0.3em 0 0 rgba(238, 143, 11, 0.5333333333), inset 0.3em 0.3em 0 0 rgba(238, 143, 11, 0.5333333333);
}
.cta:hover, .cta:focus {
  box-shadow: 0 0 0 0 rgba(238, 143, 11, 0.5333333333), inset 5em 3.5em 0 0 rgba(238, 143, 11, 0.5333333333);
  color: #fefefe;
}

/*# sourceMappingURL=style.css.map */
