:root {
  --marge: 50px;
  --img-size: 300px;
}

.acceuil-banner {
  padding: 10px var(--marge);
  margin: 2rem 0;
  font-size: 30px;
  background-image: url(../img/viaduc.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 20rem;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.acceuil-banner h1 {
  font-weight: 700;
  font-size: 3em;
}

.pres-anim {
  display: flex;
}
.pres-anim__dropping-text {
  display: inline-block;
  margin-left: 15px;
}
.pres-anim__dropping-text > span {
  font-size: 0px;
  opacity: 0;
  margin-left: -30px;
  position: absolute;
}
.pres-anim__dropping-text > span:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}
.pres-anim__dropping-text > span:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}
.pres-anim__dropping-text > span:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}
.pres-anim__dropping-text > span:nth-child(4) {
  animation: roll 5s linear infinite 3s;
}
.pres-anim__dropping-text > span:nth-child(5) {
  animation: roll 5s linear infinite 4s;
}

@keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }
  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }
  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 100px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}
header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(124, 104, 104, 0.295);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 10px var(--marge);
  position: sticky;
  top: 0;
  z-index: 10;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--marge);
}
header nav a {
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: #563f49;
}
header nav a.underline {
  text-decoration: underline 3px rgba(238, 143, 11, 0.5333333333);
}

.hide {
  clip: rect(0 0 0 0);
  position: absolute;
}

.activite {
  margin: var(--marge) 25%;
  padding: var(--marge);
  display: flex;
  justify-content: space-evenly;
  height: var(--img-size);
  gap: calc(var(--img-size) / 4);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(124, 104, 104, 0.295);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.activite__text {
  max-width: var(--img-size);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
}
.activite__img-container {
  position: relative;
  width: var(--img-size);
}
.activite__img-container div {
  position: absolute;
  height: var(--img-size);
  aspect-ratio: 1/1;
}
.activite__img-container div img {
  width: 100%;
  height: 100%;
}
.activite .label {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  bottom: calc(var(--marge) - 10px);
}
.activite .label img {
  width: var(--marge);
}

h1,
h2,
h3,
a {
  padding: 0;
  margin: 0;
}

body {
  background: #fefefe;
  margin: 0;
  font-family: "DM Serif Text", serif;
  height: 300vh;
}

/*# sourceMappingURL=style.css.map */
