@use '../base' as v;

.hero {
  display: flex;
  flex-direction: column;
  gap: var(--marge);
  margin: var(--bento-margin);

  &__1 {
    display: flex;
    flex-direction: column;

    & strong {
      font-size: var(--title-fontsize);
      margin-bottom: var(--inside-margin);
    }

    & span {
      font-size: var(--text-fontsize);
    }
  }

  &__2 {
    @include v.flex-center;
  }

  @media (max-width: 900px) {
    text-align: center;
  }
}

.a {
  margin: var(--bento-margin);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto var(--img-size);

  &__1 {
    grid-area: 1 / 1 / 2 / 3;
    @include v.glass;
    @include v.left;
    padding: calc(var(--marge)/1.5);
    font-size: var(--subtitle-fontsize);
    margin-bottom: var(--inside-margin);

    &__dropping-text {
      margin-left: 15px;
      position: relative;
      min-width: 500px;
      display: inline;

      &>span {
        position: absolute;
        opacity: 0;
        width: max-content;

        animation: roll 10s linear infinite;
        animation-delay: var(--delay);
      }
    }
  }

  &__2 {
    grid-area: 3 / 1 / 4 / 2;
    @include v.glass;
    @include v.left;
    position: relative;
    z-index: 3;

    & #france {
      padding: var(--inside-margin);
      height: 100%;
      width: 100%;
      stroke: v.$white;
      stroke-dasharray: 3500;
      stroke-dashoffset: 3500;
      animation: dash 2s linear forwards;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    & #regions {
      z-index: -1;
      fill: #ee8f0b3a;
      position: absolute;
      height: 40%;
      right: -160px;
      bottom: var(--inside-margin);
      animation: appear linear forwards .5s 2s;
      opacity: 0;
    }
  }

  &__3 {
    grid-area: 3/ 2 / 4 / 3;
    @include v.glass;
    @include v.right;
    margin-left: var(--inside-margin);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .about {
    grid-area: 2 / 1 / 3 / 3;
    margin-bottom: var(--inside-margin);

    & h2 {
      @include v.fadetitle;
    }

    &__text {
      @include v.glass;
      @include v.right;
      padding: var(--marge);

      & p {
        max-width: 50%;

        @media(max-width:900px) {

          max-width: 100%;

        }
      }
    }
  }

  & .viaduc {
    grid-area: 2 / 1 / 3 / 3;
    position: relative;

    & img {
      position: absolute;
      width: 100%;
      transform: rotate(-3deg);
    }
  }
}

@media(max-width:950px) {
  .a {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto var(--img-size) auto;

    &__1 {
      grid-area: 1 / 1 / 2 / 2;
    }

    &__2 {
      grid-area: 3 / 1 / 4 / 2;
    }

    & .about {
      grid-area: 2 / 1 / 3 / 2;
    }

    &__3 {
      grid-area: 4 / 1 / 5 / 2;
      margin-left: 0;
    }

    & .viaduc {
      display: none;
    }
  }
}



@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }

  3% {
    opacity: 1;
    transform: rotate(0deg);
  }

  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }

  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }

  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 100px;
  }

  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}