@use '../base' as v;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--marge);
  margin: var(--bento-margin);

  &__1 {
    display: flex;
    flex-direction: column;

    & strong {
      font-size: var(--title-fontsize);
      margin-bottom: var(--inside-margin);
    }

    & span {
      font-size: var(--subtitle-fontsize);
    }
  }

  &__2 {
    @include v.flex-center;
  }
}

.a {
  margin: var(--bento-margin);
  display: flex;
  justify-content: space-between;
  height: calc(var(--img-size) * 1.5);

  &__1 {
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: var(--inside-margin);

    & .pres-anim {
      height: auto;
      @include v.glass;
      @include v.top-right;
      padding: var(--marge);
      margin-bottom: var(--inside-margin);
      display: flex;
      font-size: var(--subtitle-fontsize);


      &__dropping-text {
        margin-left: 15px;
        position: relative;
        min-width: 500px;

        &>span {
          display: inline-block;
          position: absolute;
          opacity: 0;

          &:nth-child(1) {
            animation: roll 10s linear infinite 0s;
          }

          &:nth-child(2) {
            animation: roll 10s linear infinite 2s;
          }

          &:nth-child(3) {
            animation: roll 10s linear infinite 4s;
          }

          &:nth-child(4) {
            animation: roll 10s linear infinite 6s;
          }

          &:nth-child(5) {
            animation: roll 10s linear infinite 8s;
          }
        }
      }
    }

    & .viaduc {
      height: 50%;
      @include v.glass;
      @include v.bottom-right;
      padding: var(--marge);
      position: relative;

      @media (max-width:950px) {
        display: none;
      }

      & img {
        position: absolute;
        width: 150%;
        top: -150px;
        left: -380px;
        z-index: 100;
        transform: rotate(-4deg);
      }
    }
  }

  &__2 {
    height: inherit;
    @include v.glass;
    @include v.left;
    position: relative;
    aspect-ratio: 1/1;

    & #france {
      margin: var(marge);
      height: 100%;
      width: 100%;
      stroke: v.$white;
      stroke-dasharray: 3500;
      stroke-dashoffset: 3500;
      animation: dash 2s linear forwards;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    & #regions {
      z-index: -1;
      fill: #ee8f0b3a;
      position: absolute;
      bottom: 3px;
      left: 8px;
      height: 48%;

      animation: appear linear forwards .5s 2s;
      opacity: 0;
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }

  3% {
    opacity: 1;
    transform: rotate(0deg);
  }

  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }

  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }

  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 100px;
  }

  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}

.b {
  &__grid {
    display: grid;
    margin: var(--bento-margin);
    grid-template-columns: repeat(6, 1fr);
    gap: var(--inside-margin);

    & div {
      @include v.bottom;
      @include v.glass;
      aspect-ratio: 1/1;

    }
  }
}