@use '../base' as v;


#contact-form {
  display: flex;
  flex-direction: column;
  gap: var(--inside-margin);

  & input,
  textarea {
    all: unset;
    @include v.glass;

    &:focus {
      border: 1px solid v.$orange;
    }
  }

  & textarea {
    @include v.left;
    height: 150px;
    padding: var(--inside-margin);
  }

  & input {
    padding: calc(var(--inside-margin) / 2) var(--inside-margin);
    max-width: 30%;
    @include v.left;
  }
}

#contact {
  margin: var(--bento-margin);

  & h2 {
    @include v.fadetitle;
  }

  & h3 {
    @include v.fadetitle2;
  }

  & button {
    width: max-content;
  }

  & .phonemail {
    @include v.glass;
    @include v.left;
    padding: var(--inside-margin);
    display: flex;
    flex-direction: column;
    gap: calc(var(--inside-margin)/1.5);

    div {
      display: flex;
    }

    img {
      width: 30px;
      margin-right: 10px;
      transform: translateY(-5px);
    }
  }
}