@use '../base' as v;

header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  margin: var(--marge);
  position: sticky;
  top: var(--marge);
  z-index: 10;

  & nav {
    @include v.flex-center;
    justify-content: space-between;
    gap: var(--marge);
    @include v.darkglass;
    position: sticky;
    top: var(--marge);
    z-index: 10;
    padding: 0 var(--marge);

    @media only screen and (max-device-width : 500px) {
      display: none;
    }

    a {
      color: v.$white;
      text-decoration: none;
      cursor: pointer;
      display: inline-block;
      padding: 15px 20px;
      position: relative;

      &:after {
        bottom: 0;
        content: "";
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        background: v.$orange;
        transition: 0.3s ease;
        width: 0;
      }

      &:hover:after {
        width: 100%;
        left: 0;
      }
    }

    & .underline {
      &:after {
        bottom: 0;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        background: v.$orange;
        width: 100%;
      }
    }
  }
}